@media only screen and (min-width: 800px) {
  .clearIcon {
    display: none !important;
  }
  .banner {
    position: relative !important;
  }
  .header1 {
    display: none !important ;
    /* position: relative; */
  }
  .slider {
    display: none;
  }
  .sliderAfter800px {
    display: block !important;
  }
  .footer1 {
    display: none;
  }
  .aboutUs {
    display: none !important;
  }
  .bottomNavigation {
    display: none !important;
  }
  .footerAfter800px {
    display: block !important;
  }
  .copyRight {
    display: block !important  ;
  }
  .header2 {
    display: block !important ;
  }
  .befor800 {
    display: none !important;
  }
  .after800 {
    display: block !important;
  }
}

@media only screen and (max-width: 800px) {
  .header1 {
    display: block;
    position: sticky;
  }

  .banner {
    position: sticky !important;
  }
  .header2 {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .searchNavbar {
    width: 30.5rem !important;
  }
}
